@font-face { font-family: RobotoSlab-Bold; src: url("fonts/RobotoSlab-Bold.ttf"); }
@font-face { font-family: Montserrat-Regular; src: url("fonts/Montserrat-Regular.otf"); }
@font-face { font-family: Robotoslab-Regular; src: url("fonts/RobotoSlab-Regular.ttf"); }
@font-face { font-family: Montserrat-SemiBold; src: url("fonts/Montserrat-SemiBold.otf"); }
@font-face { font-family: MontserratAlternates-SemiBold; src: url("fonts/MontserratAlternates-SemiBold.otf"); }
@font-face { font-family: MontserratAlternates-Regular; src: url("fonts/MontserratAlternates-Regular.otf"); }
@font-face { font-family: MontserratAlternates-Medium; src: url("fonts/MontserratAlternates-Medium.otf"); }
@font-face { font-family: RobotoSlab-Light; src: url("fonts/RobotoSlab-Light.ttf"); }
@font-face { font-family: RobotoSlab-Thin; src: url("fonts/RobotoSlab-Thin.ttf"); }
@font-face { font-family: Montserrat-Italic; src: url("fonts/Montserrat-Italic.otf"); }
@font-face { font-family: Montserrat-Bold; src: url("fonts/Montserrat-Bold.otf"); }

.opaque-navbar {
    background-color: rgba(0, 0, 0, 0.0);
	border: none;
	height: 64px;
	margin-top: 24px;
}
.opaque-navbar.opaque {
    background-color: rgba(0, 0, 0, 1.0);
    transition: background-color .5s ease 0s;
	height: 50px;
	margin-top: 0px;
}
.opaque-navbar.opaque .navbar-nav{
    background-color: rgba(0, 0, 0, 1.0);
    transition: background-color 2.0s ease 0s;
}
.opaque-navbar.navbar-header{
	border: none;
}
.opaque-navbar a {
	color: #fff !important;
}
.opaque-navbar .navbar-header a {
	font-size: 30px;
	font-family: 'Montserrat-Bold';
}
.opaque-navbar .navbar-nav a {
	font-size: 16px;
	font-family: 'Montserrat-SemiBold';
}
.opaque-navbar a:hover {
	color: #aaa !important;
}

.main-title {
	margin-top: 305px;
	text-align: center;
}


.mainbackground-image {
	background-image: url("psd/Home Background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 770px;
}

.main-titleh1{
	color: white;
	font-size: 45px;
	margin-bottom: 24px;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 1px;
	text-align: center;
}

.main-titleh2{
	color: white;
	font-size: 19px;
	font-family: 'RobotoSlab-Regular';
	letter-spacing: 0.5px;
	text-align: center;
	margin-bottom: 55px;
}

.main-titlestart {
	border: 2px solid white;
	border-radius: 1px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 30px;
	padding-left: 30px;
	color: white;
	font-size: 15px;
	font-family: 'Montserrat-SemiBold';
}

.main-titlestart:hover {
	color:#B0B0B0;
	border: 2px solid #B0B0B0;
}

.title {
	margin-top: 50px;
	color: #555555;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 0.2px;
	font-size: 20px;
	text-align: center;
}

.line {
	margin-top: 20px;
	background-image: url("psd/Shape 1 copy.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
	height: 2px;
	margin-bottom: 20px;
}

.titleh2 {
	margin-top: 20px;
	color: #555555;
	font-family: 'Robotoslab-Regular';
	font-size: 18px;
	text-align: center;
}

.icon {
	margin-top: 15px;
}

.fa_icon1 {
	margin-top: 50px;
	background-image: url("psd/FA icon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90px;
	height: 90px;
	margin-bottom: 20px;
}

.fa_icon2 {
	margin-top: 50px;
	background-image: url("psd/FA icon 2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90px;
	height: 90px;
	margin-bottom: 20px;
}
.fa_icon3 {
	margin-top: 50px;
	background-image: url("psd/FA icon 3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90px;
	height: 90px;
	margin-bottom: 20px;
}

.margintxt {
	margin-top: 20px;
}

.s_txttitle {
	font-size: 15px;
	color: #555555;
	font-family: 'Montserrat-SemiBold';
	text-align: center;
	margin-bottom:10 px;
}


.s_txt {
	margin-top: 10px;
	font-size: 13px;
	color: #555555;
	font-family: 'Robotoslab-Regular';
	text-align: center;
}

.services{
	margin-bottom: 100px;
}

.about_us {
	margin-top: 100px;
	background-color: #f8f8f8;
	margin-bottom: 30px;
}

.ab_txt {
    margin-top: 10px;
	font-size: 15px;
	color: #555555;
	font-family: 'Robotoslab-Regular';
	text-align: left;
}

.phots {
	margin-top: 50px;
}

.phot1 {
	background-image: url("psd/Team Pic 1.png");
	background-position: center;
	background-size: 263px 250px;
	height: 250px;
	margin-top: 50px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
}

.phot2 {
	background-image: url("psd/Team Pic 2.png");
	background-position: center;
	background-size: 263px;
	height: 250px;
	margin-top: 50px;
	margin-bottom: 1px;
	background-repeat: no-repeat;
}

.phot3 {
	background-image: url("psd/Team Pic 3.png");
	background-position: center;
	background-size: 263px;
	height: 250px;
	margin-top: 50px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
}

.phot4 {
	background-image: url("psd/Team Pic 4.png");
	background-position: center;
	background-size: 263px;
	height: 250px;
	margin-top: 50px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
}
.phot_shadow {
	background-color: rgba(0, 0, 0, 0.0);
	height: 250px;
	text-align: center;
	padding-top: 200px;
	opacity: 0;
}

.phot_shadow:hover {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
}

.phot_shadow ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.phot_shadow li {
	float: left;
}

.team_name1 {
	margin-top: 15px;
	font-size: 15px;
	color: #555555;
	font-family: 'Montserrat-SemiBold';
	text-align: center;
	letter-spacing: 0.2px;
	margin-bottom: 10px;
}

.team_name2 {
	margin-top: 10px;
	font-size: 12px;
	color: #555555;
	font-family: 'Robotoslab-Regular';
	text-align: center;
	letter-spacing: 0.1px;
	margin-bottom: 100px;
}

.team_facebook {
	background: url("psd/Facebook Logo.png") center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.team_facebook:hover {
	background-color: #D92300;
}
.team_twitter {
	background: url("psd/Twitter Logo Silhouette.png") center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.team_twitter:hover {
	background-color: #D92300;
}
.team_google {
	background: url("psd/Google Plus Logo.png") center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.team_google:hover {
	background-color: #D92300;
}
.team_in {
	background: url("psd/fa-linkedin.png") center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.team_in:hover {
	background-color: #D92300;
}

.categorization {
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;	
	font-family: 'Robotoslab-Regular';
	font-size: 20px;
}

.categorization ul li div {
	color: #555555;
	font-family: 'Robotoslab-Regular';
	font-size: 16px;
	border: none;
}

.categorization ul li div:active {
	color: #d92300;
}

.thumbnail {
	width: 360px;
	border: none;
}

.latest_works {
	margin-bottom: 50px;
}

.picture-item {
	margin-bottom: 20px;
}

.getin_touch {
	margin-top: 50px;
	margin-bottom: 100px;
	background-image: url("psd/Paralax section.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 369px;
}

.getin_touchtxt {
	padding-top: 100px;
	font-size: 28px;
	color: #FFFFFF;
	font-family: 'RobotoSlab-Regular';
	text-align: center;
	margin-bottom:  20px;
	letter-spacing: 0.2px;
}

.getin_touchtxt1 {
	border: 2px solid white;
	border-radius: 2px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 30px;
	padding-left: 30px;
	color: white;
	font-size: 17px;
	font-family: 'Robotoslab-Regular';
}

.getmargin {
	margin-bottom: 30px;
}

.getin_touchtxt1:hover {
	color:#B0B0B0;
	border: 2px solid #B0B0B0;
}

.img_table {
	background-image: url("psd/Layer 28.png");
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	height: 322px;
	margin-bottom: 50px;
}

.img_note {
	background-image: url("psd/Layer 27.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 322px;
	margin-bottom: 50px;
}

.date1_1 {
	width: 70px;
	border: 2px solid #555555;
	border-radius: 1px;
	font-family: 'Montserrat-Bold';
	font-size: 18px;
	color: #777777;
	letter-spacing: 0.2px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

.date1_2 {
	font-family: 'Montserrat-Italic';
	font-size: 18px;
	text-align: center;
	color: #777777;
	letter-spacing: 0.2px
}

.subhead_bl {
	padding-left: 100px;
	margin-bottom: 30px;
}

.subhead1 {
	color: #d92300 ;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 0.2px;
	font-size: 20px;
	margin-bottom: 15px;
}

.subhead2 {
	color: #555555 ;
	font-family: 'Montserrat-Italic';
	letter-spacing: 0.2px;
	font-size: 15px;
}

.rsubhead2 {
	color: #d92300 ;
	font-family: 'Montserrat-Italic';
	letter-spacing: 0.2px;
	font-size: 15px;
	
}

.more_r a {
	color: #d92300 ;
	font-family: 'RobotoSlab-Bold';
	letter-spacing: 0.2px;
	font-size: 15px;
}


.more_r a:hover {
	color: #555555;
	text-decoration: none;
}

.txt_bl {
	margin-top: 50px;
	margin-bottom: 20px;
}

.img_paper {
	background-image: url("psd/Layer 27.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 322px;
	margin-bottom: 50px;
}

.more_w {
	margin-bottom: 15px;
	margin-top: 15px;
} 

.more_w a {
	text-decoration: none;
	color: #d92300 ;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 0.2px;
	font-size: 15px;
	
}

.more_w a:hover {
	color: #555555;
	text-decoration: none;
}

.pl {
	padding-left: 40px;
}

.reviews {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f8f8f8;
}

.rev {
	text-align: center;
	margin-top: 50px;
}

.rev li {
	display: inline-block;
	margin-right: 30px;
}

.rev1 {
	background-image: url("psd/Layer 30.png");
	background-position: center;
	background-size: 141px;
	background-repeat: no-repeat;
	width: 141px;
	height: 50px;
	margin-right: 10px;
}

.rev2 {
	background-image: url("psd/Layer 31.png");
	background-position: center;
	background-size: 121px;
	background-repeat: no-repeat;
	width: 121px;
	height: 50px;
	margin-right: 10px;
}

.rev3 {
	background-image: url("psd/Layer 32.png");
	background-position: center;
	background-size: 142px;
	background-repeat: no-repeat;
	width: 142px;
	height: 50px;
	margin-right: 10px;
}

.rev4 {
	background-image: url("psd/Layer 33.png");
	background-position: center;
	background-size: 129px;
	background-repeat: no-repeat;
	width: 129px;
	height: 50px;
	margin-right: 10px;
}

.rev5 {
	background-image: url("psd/Layer 34.png");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 123px;
	height: 50px;
	margin-right: 10px;
}

.item {
	height: 300px;
}

.carousel li {
	background-color: #DDDDDD;
}

.carousel li.active {
	background-color: #d92300;
}

.carousel-caption {
	text-shadow: none;
}

.carousel_txt {
	font-family: 'Montserrat-Italic';
	font-size: 20px;
	text-align: center;
	color: #555;
}

.carousel_name {
	font-family: 'Montserrat-Regular';
	font-size: 20px;
	text-align: center;
	color: #555;
}

.adrs_txt {
	padding-left: 30px;
}

.icon1 {
	background-image: url("psd/fa-map-marker.png");
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	width: 12px;
	height: 20px;
}

.icon2 {
	background-image: url("psd/fa-mobile-phone.png");
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	height: 20px;
	width: 12px;

}

.icon3 {
	background-image: url("psd/fa-envelope-o.png");
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	height: 11px;
	width: 15px;
}


.adrs {
	color: #555555;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 0.2px;
	font-size: 15px;
	text-align: left;
	margin-bottom: 10px;
}

.adrss {
	color: #555555;
	font-family: 'Robotoslab-Regular';
	letter-spacing: 0.2px;
	font-size: 12px;
	text-align: left;
}

ul {
	list-style-type: none;
}

.feedback .contact {
	margin-top: 36px;
}

.feedback .contact li {
	margin-bottom: 30px;
}

.feedback form {
	margin-right: 100px;
}

.feedback form div {
	padding-right: 8px;
}

.feedback form input, .feedback form textarea {
	width: 100%;
	font-size: 12px;
	padding-left: 14px;
	font-family: 'Robotoslab-Regular';
	border: 1px solid #545450;
}

.feedback form input:focus, .feedback form textarea:focus {
	border: 1px solid #D92300;
	outline: none;
}

.feedback form input {
	height: 42px;
}

.feedback form textarea {
	height: 88px;
	padding-top: 10px;
}

.feedback button {
	height: 38px;
	border-radius: 0;
	border: 1px solid #545450;
	font-family: 'Robotoslab-Regular';
	font-size: 12px;
}

.feedback .contact_reply {
	padding-left: 30px;
}

.feedback .small_red {
	color: #D92300;
	font-size: 14px;
}

.foot {
	background-color: #C0301C;
	height: 300px;
}

.foot .tweet {
	padding-top: 90px;
	text-align: center;
	margin-left: -38px;
}

.foot .tweet li {
	display: inline;
	margin: 4px;
}

.foot .separator {
	width: 50px;
	height: 2px;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
}

.foot .copyright {
	text-align: center;
	color: #fff;
	font-family: 'Robotoslab-Regular';
	font-size: 12px;
}

.foot div {
	margin-top: 30px;
	margin-bottom: 30px;
}

.tweet1 {
	float: left;
	margin-right: 7px;
	width: 17px;
	height: 14px;
}
